.logo-container {
    z-index: 0;
    width: 200px; /* Adjust the width to your desired value */
    height: 304.5px; /* Adjust the height to maintain the aspect ratio */
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;
}

svg {
    width: 100%; /* Keep this at 100% to scale the SVG proportionally to its parent */
    height: 100%;
    bottom: 0;
    transform: rotateZ(30deg) !important;
}

/* ... other styles ... */


.solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(30deg);
    z-index: 1;
}

.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
}